/*Album Page v2 External Style Sheet*/

@font-face {
    font-family: 'rio_grande_stripedbold';
    src: url('Font/riogrande_striped.woff2') format('woff2'),
         url('Font/riogrande_striped.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#RioGrande {
			font-family: 'rio_grande_stripedbold';
		}
background-image {
	background-repeat: repeat;
}
body {
	font-family: Calibri;
}
ul {
	font-size: 14px;
}
table {
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
}
a {
	text-decoration: none;
			
}
a:hover {
	text-decoration: underline;
}

		